In [1]:
import requests
import pandas as pd
from config import api_key
import json
from pprint import pprint
import requests
import datetime as datetime
import time

In [2]:
# Save config information.
# url = f"http://api.openweathermap.org/data/2.5/weather?"
url = f"http://api.openweathermap.org/data/2.5/group?id=4887398,4644585,4463523,5809844,5856195,4164138,5074472,4699066,5308655,5454711&units=imperial&appid={api_key}&q="


response = requests.get(url)
cities = response.json()
pprint(cities)

{'cnt': 10,
 'list': [{'clouds': {'all': 20},
           'coord': {'lat': 41.85, 'lon': -87.65},
           'dt': 1590848157,
           'id': 4887398,
           'main': {'feels_like': 60.76,
                    'humidity': 55,
                    'pressure': 1022,
                    'temp': 64.49,
                    'temp_max': 64.99,
                    'temp_min': 63},
           'name': 'Chicago',
           'sys': {'country': 'US',
                   'sunrise': 1590833936,
                   'sunset': 1590887872,
                   'timezone': -18000},
           'visibility': 16093,
           'weather': [{'description': 'few clouds',
                        'icon': '02d',
                        'id': 801,
                        'main': 'Clouds'}],
           'wind': {'deg': 320, 'speed': 5.82}},
          {'clouds': {'all': 1},
           'coord': {'lat': 36.17, 'lon': -86.78},
           'dt': 1590848150,
           'id': 4644585,
           'main': {'feels_like': 70.45,
                    'humidity': 64,
                    'pressure': 1020,
                    'temp': 70.61,
                    'temp_max': 72,
                    'temp_min': 69.01},
           'name': 'Nashville',
           'sys': {'country': 'US',
                   'sunrise': 1590834720,
                   'sunset': 1590886670,
                   'timezone': -18000},
           'visibility': 16093,
           'weather': [{'description': 'clear sky',
                        'icon': '01d',
                        'id': 800,
                        'main': 'Clear'}],
           'wind': {'deg': 310, 'speed': 4.7}},
          {'clouds': {'all': 1},
           'coord': {'lat': 35.53, 'lon': -81.03},
           'dt': 1590848145,
           'id': 4463523,
           'main': {'feels_like': 76.71,
                    'humidity': 73,
                    'pressure': 1017,
                    'temp': 73.58,
                    'temp_max': 79,
                    'temp_min': 71.01},
           'name': 'Denver',
           'sys': {'country': 'US',
                   'sunrise': 1590833441,
                   'sunset': 1590885189,
                   'timezone': -14400},
           'visibility': 16093,
           'weather': [{'description': 'clear sky',
                        'icon': '01d',
                        'id': 800,
                        'main': 'Clear'}],
           'wind': {'deg': 340, 'speed': 3.36}},
          {'clouds': {'all': 100},
           'coord': {'lat': 47.61, 'lon': -122.33},
           'dt': 1590848197,
           'id': 5809844,
           'main': {'feels_like': 53.02,
                    'humidity': 74,
                    'pressure': 1008,
                    'temp': 54.61,
                    'temp_max': 57,
                    'temp_min': 53.01},
           'name': 'Seattle',
           'sys': {'country': 'US',
                   'sunrise': 1590841004,
                   'sunset': 1590897452,
                   'timezone': -25200},
           'weather': [{'description': 'light rain',
                        'icon': '10d',
                        'id': 500,
                        'main': 'Rain'}],
           'wind': {'deg': 173, 'speed': 1.36}},
          {'clouds': {'all': 40},
           'coord': {'lat': 21.31, 'lon': -157.86},
           'dt': 1590848198,
           'id': 5856195,
           'main': {'feels_like': 74.23,
                    'humidity': 69,
                    'pressure': 1020,
                    'temp': 74.95,
                    'temp_max': 84.2,
                    'temp_min': 70},
           'name': 'Honolulu',
           'sys': {'country': 'US',
                   'sunrise': 1590853757,
                   'sunset': 1590901755,
                   'timezone': -36000},
           'visibility': 16093,
           'weather': [{'description': 'shower rain',
                        'icon': '09n',
                        'id': 521,
                        'main': 'Rain'}],
           'wind': {'deg': 53, 'speed': 9.98}},
          {'clouds': {'all': 75},
           'coord': {'lat': 25.77, 'lon': -80.19},
           'dt': 1590848130,
           'id': 4164138,
           'main': {'feels_like': 88.66,
                    'humidity': 74,
                    'pressure': 1017,
                    'temp': 84.15,
                    'temp_max': 86,
                    'temp_min': 82.4},
           'name': 'Miami',
           'sys': {'country': 'US',
                   'sunrise': 1590834588,
                   'sunset': 1590883639,
                   'timezone': -14400},
           'visibility': 16093,
           'weather': [{'description': 'broken clouds',
                        'icon': '04d',
                        'id': 803,
                        'main': 'Clouds'}],
           'wind': {'deg': 120, 'speed': 10.29}},
          {'clouds': {'all': 90},
           'coord': {'lat': 41.26, 'lon': -95.94},
           'dt': 1590848169,
           'id': 5074472,
           'main': {'feels_like': 52.66,
                    'humidity': 82,
                    'pressure': 1025,
                    'temp': 56.26,
                    'temp_max': 57.99,
                    'temp_min': 55},
           'name': 'Omaha',
           'sys': {'country': 'US',
                   'sunrise': 1590836037,
                   'sunset': 1590889750,
                   'timezone': -18000},
           'visibility': 16093,
           'weather': [{'description': 'moderate rain',
                        'icon': '10d',
                        'id': 501,
                        'main': 'Rain'}],
           'wind': {'deg': 360, 'speed': 6.93}},
          {'clouds': {'all': 99},
           'coord': {'lat': 29.76, 'lon': -95.36},
           'dt': 1590848151,
           'id': 4699066,
           'main': {'feels_like': 81.28,
                    'humidity': 76,
                    'pressure': 1019,
                    'temp': 76.26,
                    'temp_max': 78.01,
                    'temp_min': 75},
           'name': 'Houston',
           'sys': {'country': 'US',
                   'sunrise': 1590837715,
                   'sunset': 1590887795,
                   'timezone': -18000},
           'weather': [{'description': 'overcast clouds',
                        'icon': '04d',
                        'id': 804,
                        'main': 'Clouds'}],
           'wind': {'deg': 68, 'speed': 3}},
          {'clouds': {'all': 75},
           'coord': {'lat': 33.45, 'lon': -112.07},
           'dt': 1590848184,
           'id': 5308655,
           'main': {'feels_like': 85.59,
                    'humidity': 22,
                    'pressure': 1010,
                    'temp': 87.58,
                    'temp_max': 91,
                    'temp_min': 82.99},
           'name': 'Phoenix',
           'sys': {'country': 'US',
                   'sunrise': 1590841205,
                   'sunset': 1590892326,
                   'timezone': -25200},
           'visibility': 16093,
           'weather': [{'description': 'broken clouds',
                        'icon': '04d',
                        'id': 803,
                        'main': 'Clouds'}],
           'wind': {'deg': 214, 'speed': 1.07}},
          {'clouds': {'all': 40},
           'coord': {'lat': 35.08, 'lon': -106.65},
           'dt': 1590848192,
           'id': 5454711,
           'main': {'feels_like': 66.99,
                    'humidity': 30,
                    'pressure': 1024,
                    'temp': 73.15,
                    'temp_max': 75,
                    'temp_min': 71.01},
           'name': 'Albuquerque',
           'sys': {'country': 'US',
                   'sunrise': 1590839658,
                   'sunset': 1590891271,
                   'timezone': -21600},
           'visibility': 16093,
           'weather': [{'description': 'scattered clouds',
                        'icon': '03d',
                        'id': 802,
                        'main': 'Clouds'}],
           'wind': {'deg': 190, 'speed': 6.93}}]}

In [3]:
# set up lists to hold reponse info

city_name = []
date = []
high = []
low = []
current = []
feels_like = []
humidity = []
pressure = []



dashes = "---------------------------------"



print(dashes)
print("Retrieving Data")
print(dashes)

# Loop through the list of cities and perform a request for data on each

#     response = requests.get(url + city).json()
counter = 0
for counter in range(10):


#     response = requests.get(url + city).json()
    city_name.append(cities['list'][counter]['name'])
    date.append(cities['list'][counter]['dt'])
    high.append(cities['list'][counter]['main']['temp_max'])
    low.append(cities['list'][counter]['main']['temp_min'])
    current.append(cities['list'][counter]['main']['temp'])
    feels_like.append(cities['list'][counter]['main']['feels_like'])
    humidity.append(cities['list'][counter]['main']['humidity'])
    pressure.append(cities['list'][counter]['main']['pressure'])
    counter += 1

        
print(dashes)
print("Data Retrieved")
print(dashes)

IndentationError: unexpected indent (<ipython-input-3-8c043dee3cab>, line 45)

In [6]:
# create a data frame from cities, lat, and temp
cities_dict = {
    "City": city_name,
    "Date": datetime.datetime.today(),
    "Daily High (F)": high,
    "Daily Low (F)": low,
    "Current Temp (F)": current,
    "Feels Like": feels_like,
    "Humidity (%)": humidity,
    "Pressure (mb)": pressure,
}
cities_df = pd.DataFrame(cities_dict)
cities_df.to_csv("api.csv", index=False)
cities_df

,City,Date,Daily High (F),Daily Low (F),Current Temp (F),Feels Like,Humidity (%),Pressure (mb)
0,Chicago,2020-05-30 09:58:31.721904,64.99,63.00,64.49,60.76,55,1022
1,Nashville,2020-05-30 09:58:31.721904,72.00,69.01,70.61,70.45,64,1020
2,Denver,2020-05-30 09:58:31.721904,79.00,71.01,73.58,76.71,73,1017
3,Seattle,2020-05-30 09:58:31.721904,57.00,53.01,54.61,53.02,74,1008
4,Honolulu,2020-05-30 09:58:31.721904,84.20,70.00,74.95,74.23,69,1020
5,Miami,2020-05-30 09:58:31.721904,86.00,82.40,84.15,88.66,74,1017
6,Omaha,2020-05-30 09:58:31.721904,57.99,55.00,56.26,52.66,82,1025
7,Houston,2020-05-30 09:58:31.721904,78.01,75.00,76.26,81.28,76,1019
8,Phoenix,2020-05-30 09:58:31.721904,91.00,82.99,87.58,85.59,22,1010
9,Albuquerque,2020-05-30 09:58:31.721904,75.00,71.01,73.15,66.99,30,1024

In [ ]:
# list = cities["list"]
# city_data = list["main"]
# name = city_data[0]["name"]
# daily_high = city_data[0]["temp_max"]
# daily_low= city_data[0]["temp_min"]
# current_temp = city_data[0]["temp"]
# humidity = city_data[0]["humidity"]
# barometer = city_data[0]["pressure"]
# city_date = list["dt"]


# cities = ['Chicago', 'Nashville', 'Denver',
#           'Seattle', 'Honolulu', 'Miami', 'Omaha',
#          'Houston', 'Phoenix', 'Albuquerque']